Package: com.gadfly2084.textplus
Name: TextPlus
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: textPlus首次打开时自动授权通知，打印DeviceToken
Maintainer: gadfly2084
Author: gadfly2084
Section: Tweaks
