Package: com.gadfly0x.textplus
Name: TextPlus
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: textPlus首次打开时自动授权通知，打印DeviceToken
Maintainer: gadfly0x
Author: gadfly0x
Section: Tweaks
